
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 16px;
}

.dropdown{
    position: relative;
    text-transform: uppercase;
    z-index:3;
}

.dropdown-menu{
  position: absolute;
  top: 150%;
  left: 0;
  background: transparent;
  min-width: 108px;
  border: none;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  text-align: center;
  list-style: none;
 
}




.dropdown-menu li a {
  padding: 7px;
  color: #555;
  text-decoration: none;
  display: block;


}



.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.nav__item::after{
    content: "";
	height: 3px;
	width: 0;
	background: #7030a0;
	left: 0;
  bottom: -0.625em;
	transition: 0.5s;
	position: absolute;

}
.nav__item:hover{
    color: #00b0f0 !important;
}
.nav__item:hover::after{
    width: 100%;
}
.dropdown-menu.active{
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
}

/* media query */
@media (max-width: 768px) {
   .dropdown-menu {
    position: static;
    transform: none;
    opacity: 1;
    visibility: visible;
    
  
}


}